@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pri: #273540;
    --sec: #475e71;
    --ter: #252d34;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--pri);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}



/* - - - - - HEADER - - - - - */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color: white;
    transition: top 0.3s;
    z-index: 100;
}
header.scrolled {
    top: -10vh;
}
header #logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    margin: 0 3vw;
}
header #logo img {
    height: 11vh;
}
header #logo h1 {
    font-size: 32px;
    font-weight: 600;
}
header #icons {
    margin: 0 3vw;
}
header #icons img {
    height: 7vh;
    padding: 10px;
    border: 2px solid black;
    border-style: dashed;
    border-radius: 25%;
    margin: 0 0.5vw;
}
header nav {
    position: absolute;
    top: 12vh;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: var(--pri);
}
header nav a {
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8px;
    margin: 0 1vw;
}
header nav span {
    display: block;
    width: 1px;
    height: 4vh;
    background-color: white;
}





#banner {
    position: relative;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
    z-index: 10;
}
#banner img {
    position: absolute;
    min-width: 100vw;
    min-height: 95vh;
}
#banner .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(39, 53, 64, 0.25) 25%, rgba(39, 53, 64, 0.85) 100%);
}
#banner h2 {
    position: absolute;
    top: 50%;
    left: 12%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 10px;
    word-spacing: 20px;
}





main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 3vh 0;
    border-top: 0.5vh solid white;
}
main section {
    position: relative;
    width: 90vw;
    height: 70vh;
    margin: 15vh auto;
    color: white;
}
main section h2 {
    position: relative;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 0.3vw;
    text-align: center;
    margin-bottom: 3vh;
}
main section p {
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.1vw;
    line-height: 36px;
    text-align: justify;
}





#quemsomos {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 30% 70%;
}
#quemsomos h2 {
    grid-column: 1 / 3;
    margin: auto 0;
}
#quemsomos h2::before, #quemsomos h2::after {
    content: "";
    position: absolute;
    top: 55%;
    left: -80%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}
#quemsomos h2::after {
    left: auto;
    right: -80%;
}
#quemsomos p {
    margin: 5% 0;
    grid-row: 2;
}
#quemsomos .image-display {
    position: relative;
    grid-row: 2;
    aspect-ratio: 1 / 1;
    padding: 5%;
    margin: 10%;
    background-color: var(--sec);
}
#quemsomos .image-display img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.displaybutton {
    position: absolute;
    top: 50%;
    right: 0;
    width: 75px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    translate: 25% -50%;
    background-color: white;
}
.displaybutton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





#servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#servicos h2 {
    width: 100%;
}
#servicos .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 3%;
    border-radius: 10%;
    background-color: white;
    color: black;
}
#servicos .card img {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 10%;
    margin-bottom: 3%;
    object-fit: cover;
}
#servicos .card h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 3%;
}
#servicos .card p {
    width: 100%;
    text-align: justify;
    font-size: 24px;
    margin-bottom: 3%;
}





#nossahistoria {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    border-radius: 50px;
    background-color: var(--sec);
}
#nossahistoria .image-display {
    position: relative;
    grid-row: 1 / 3;
    padding: 3%;
    margin: 10%;
    background-color: var(--pri);
}
#nossahistoria .image-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#nossahistoria h2 {
    margin: auto 0;
}
#nossahistoria p {
    text-align: justify;
    margin: 5%;
}
#nossahistoria #bookmarker {
    position: absolute;
    right: 66%;
    height: 67%;
}





footer {
    position: relative;
    width: 100vw;
    height: 83vh;
    border-top: white 0.5vh solid;
}
footer #contato {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-color: var(--ter);
}
footer #contato img {
    height: 20vh;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: white;
}
footer #contato p {
    width: 70%;
    color: white;
    font-size: 32px;
    text-align: center;
}